@(data: scala.collection.Map[String, String])(users: List[String])(cache: play.api.cache.CacheApi)(implicit request: play.api.mvc.RequestHeader)
@import java.io.File
@suspended = {false}
@main(title = data("name")) {
<div class="container table-responsive" style="background-color: #fffff1; margin-bottom: 10px">

    <h3>Hey admin! Remember with great power comes great responsibilities.</h3>'
    <img class="responsive" src="@{data("image")}" >
    <table class="table table-bordered">
        <tr>
            <td><b>Name</b></td>
            <td>@data("name")</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>@data("email")</td>
        </tr>
        <tr>
            <td><b>Password</b></td>
            <td>@data("password")</td>
        </tr>
        <tr>
            <td><b>Age</b></td>
            <td>@data("age")</td>
        </tr>
        <tr>
            <td><b>Gender</b></td>
            <td>@data("gender")</td>
        </tr>
        <tr>
            <td><b>Username</b></td>
            <td>@data("username")</td>
        </tr>
    </table>
</div>

<div class="container table-responsive" style="background-color: #fff; margin-bottom: 10px">
    <h3>Users registered to the application</h3>
    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Mobile number
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>

    @for(userEmail <- users) {
        @if(userEmail == request.session.get("connected").getOrElse("")){
        } else {
            @if(cache.get[Map[String,String]](userEmail).get("suspended") == "yes"){

            <tr class="danger" style="color: red">
                } else {
                <tr class="warning">
                }
                <td>@{cache.get[Map[String,String]](userEmail).get("name")}</td>
                <td>@{cache.get[Map[String,String]](userEmail).get("age")}</td>
                <td>@{cache.get[Map[String,String]](userEmail).get("mobile")}</td>
                <td>
                    @if(cache.get[Map[String,String]](userEmail).get("suspended") == "yes"){
                    <a class="btn disabled" href="/suspend/@{userEmail}" style="color: brown!important">
                        } else {
                        <a class="btn" href="/suspend/@{userEmail}">
                            }Suspend</a>
                        @if(cache.get[Map[String,String]](userEmail).get("suspended") == "no"){
                        <a class="btn disabled" href="/resume/@{userEmail}" style="color: brown!important">
                            } else {
                            <a class="btn" href="/resume/@{userEmail}">
                                }Resume</a></td>
            </tr>
            }
        }
    </table>

</div>
}(true)